<h1>Hello There! I'm Rails here.</h1>
<h2>These are the articles I have so far.</h2>

<hr>
<% @articles.each do |article| %>
<div>
  <h3><%= article.title %></h3>
  <a href="/articles/<%= article.id %>">
    Click Me!
  </a>
  <hr>
</div>
<% end %>

<p>Thanks for looking!</p>